<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Conceptos básicos de programación</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/d720a76763.js" crossorigin="anonymous"></script>
</head>
<body>
<section class="hero">
    <div class="hero-body">
        <p class="title">Tecnologías útiles para desarrolladores</p>
        <p class="subtitle">A mi criterio, estos son algunos de los conocimientos básicos que debe tener un desarrollador</p>
    </div>
</section>
<div class="content">
    <article class="panel is-primary">
        <p class="panel-heading">
            Links
        </p>
        <a th:each="link : ${links}" class="panel-block is-active" th:href="${link.url}" target="_blank">
            <span class="panel-icon">
              <i class="fas fa-book" aria-hidden="true"></i>
            </span>
            <p th:text="${link.name}"></p>
        </a>
    </article>
</div>
</body>
</html>
